body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Set a suitable background color */
  }
  
  header {
    padding: 23px 20px;
    margin-top: -91px;
    background-color: white;
    color:black;
    padding: 30px 20px;
    text-align: center;
  }
  
  nav a {
    margin-left: 121px;
    font-size: 22px;
    color:green;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero {
    background-image: url('hero-image.jpg'); /* Replace with your hero image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #555;
  }
  .forms{
    height: 423px;
    width:1013px;
    background-color:#eeeeee;
   text-align: center;
       margin-left: 237px;
  }
  .mb-3{
    text-align: center;
  }
  .fee{
    height: 321px;
    height: 321px;
    margin-top: 221px;
    margin-left: 7%;
    margin-right: 7%;
  }
  .container{
    margin-top: 121px;
  }
  .box2{
    margin-top: 91px;
      width: 422px;
      margin-left: 1007PX;
      height: 390px;
      background-color: #f3f3f3;
      border-radius: 12px;
  }
  .box4{
   margin-top:95px;
    width: 767px;
    margin-left: -890px;
    height: 390px;
    background-color: #f3f3f3;
    border-radius: 12px;
  }
  